[Unit]
Description=Upload Script Job
Wants=upscript.timer

[Service]
Environment="PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
Type=oneshot
User=username
Group=usergroup
ExecStart=bash /opt/upscript/script.sh
TimeoutStartSec=3600
StandardOutput=file:/opt/upscript/logs/upscript.log
StandardError=file:/opt/upscript/logs/upscript-error.log

[Install]
WantedBy=multi-user.target